.social-logos {
}


.social-logo__img {
    width: 100px;
    height: 100px;
    background-color: unset !important;
    color: unset;
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
}


.social-logo:not(:first-child) {
    margin-left: 24px !important;
}